html, body {
    height: 100%;
  }
  
  body {
    background: #000;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  
  .hero-image {
    background: url('https://media.gettyimages.com/photos/in-this-picture-taken-on-may-15-kalash-women-wearing-traditional-to-picture-id1148787874?s=2048x2048') center center no-repeat;
    background-size: cover;
    height: 100%;
  }
  
  .hero-image-overlay {
    background-color: rgba(0,0,0,0.75);
    height: 100%;
  }
  
  nav {
    position: absolute;
    height: 340px;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    text-align:center;
  }
  
  h1 {
    margin: 45px auto;
    width: 326px;
    padding-bottom: 6px;
    font-weight: 200;
    color: orange;
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .chevron {
    display:block;
    width: 24px;
    height: 24px;
    margin:-40px auto 30px auto;
    animation: pulse 2s infinite;
    display:block;
    color: #fff;
    opacity: 0;
  }
  
  @keyframes pulse {
    0% {
      transform: translate(0, 0); 
      opacity: 0.5;
    }
  
    50% {
      transform: translate(0, 10px);
       opacity: 0.99;
    }
  
    100% {
       transform: translate(0, 0); 
       opacity: 0;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  ul.main {
    width: 200px;
    margin: 0 auto;
  }
  
  nav > ul.main > li {
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align:center;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration:none;
    transition: all .3s ease-in-out;
    display: inline-block;
    text-align:center;
    margin: 0;
    padding: 0;
    line-height:25px;
  }
  
  nav ul.main > li:hover > a {
    transform: scale(1.1);
    font-weight: 600;
  }
  
  nav ul.main > li a:after{
    content: '';
    display: block;
    height: 2px;
    background-color: orange;
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    margin-top: 0px;
  }
  
  nav ul.main > li:hover > a:after
  {
    visibility: visible;
    opacity: 1;
  }
  
  nav ul.main > li:hover > a:after {
    transform: translateY(4px);
  }
  
  nav ul.main > li > ul > li:hover > a {
    transform: scale(1.1);
    font-weight: 600;
  }
  
  nav ul li > .sub-menu {
    position: absolute;
    right: -310px;
    width: 225px;
    top: -40px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
  }
  
  nav ul li > .sub-menu:before {
      content: '';
      width: 145px;
      height: 1px;
      background-color: #fff;
      display: block;
      position: absolute;
      top: 60px;
    margin-left: -100px
  }
  
  
  nav ul li:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateX(25px);
  }